main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .fondo {
        height: 120vh;
        position: fixed;
        top: 0;
        z-index: -2;
    }
    .kenburns-top {
        -webkit-animation: kenburns-top 15s infinite alternate-reverse ease-in-out;
        animation: kenburns-top 15s infinite alternate-reverse ease-in-out;
    }
    @-webkit-keyframes kenburns-top {
        0% {
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
        }
        100% {
            -webkit-transform: scale(1.1) translateY(-15px);
            transform: scale(1.1) translateY(-15px);
            -webkit-transform-origin: top;
            transform-origin: top;
        }
    }
    @keyframes kenburns-top {
        0% {
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
        }
        100% {
            -webkit-transform: scale(1.1) translateY(-15px);
            transform: scale(1.1) translateY(-15px);
            -webkit-transform-origin: top;
            transform-origin: top;
        }
        
    }

    .difusor {
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: #ffffffc7;
        z-index: -1;
    }

    .titulo {
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;

        h2 {
            color: black;
            font-size: 2rem;
            font-family: $letra;
            text-align: center;
        }
    }

    .caja {
        margin-inline: auto;
        padding-inline: 10%;
        background-color: $color;
        padding-block: 80px;
        max-width: 900px;
        margin-bottom: 80px;
    }

}